/* CSS DEMO 1 */
p#twd_opa_controls {
  text-align:center;
}

#twd_opa_controls span {
  padding-right:2em;

  cursor:pointer;
}
#twd_opa {
  position:relative;
  height:429px;
  width:600px;
  margin:0 auto 10px;
  left: 140px;
  top: -10px;
}
#twd_opa img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#twd_opa img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}
